* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
button {
  border: 1px solid green;
  width: 65px;
  height: 65px;
  outline: azure;
  border-radius: 5px;
}
.myFavourites > div {
  transition: transform 2s;
}
.myFavourites > div:hover {
  transform:rotateY(360deg);
}
form > input {
  position: absolute;
  height: 38px;
  left:53%;
  top:148px;
}
form > label {
  font-size: 18px;
}

.MainApp,.title  {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.title > p {
font-size: 32px;
}

select {
  border: 1px solid green;
  height: 38px;
  width: 85px;
}

select {
  animation-name: selectMe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes selectMe {
  0% {
    border: 1px solid green;
  }
  50%{
    border: 3px solid pink;
  }
  100% {
    border: 1px solid green;
  }
}